<img src="https://www.ikiam.edu.ec/img/logo-ikiam-grey.png" width=300 height=240 />

# T5_Map-of-ScienceTarea

## GBI6-2021II: BIOINFORMÁTICA

**Sánchez Chicaiza Jefferson Miguel**

**16-02-2022**

In [119]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import csv
import itertools

Matplotlib is building the font cache; this may take a moment.

In [112]:
## Minado de Paises 
with open ('./pubmed-GDMheavyme-set.txt', encoding='utf-8-sig') as f:
    info = f.read()

info = re.sub(r'\n\s{6}', ' ', data)

inf = re.findall (r"\,\s[A-Z]+[A-z]{2,11}\.", data)
unique_inf = list(set(dat))
unique_inf.sort ()


unique_inf.remove(', Inc.')
unique_inf.remove(', Ste.')
unique_inf.remove(', Calif.')
unique_inf.remove(', Connecticut.')
unique_inf.remove(', Illinois.')
unique_inf.remove(', Ltd.')
unique_inf.remove(', Oklahoma.')
unique_inf.remove(', Tennessee.')


a = "".join(unique_inf)
b = a.split(", ")
c = "".join(b)
fun = c.split(".")
fun.remove("")
print("lista: ", d)

lista:  ['Australia', 'Austria', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia', 'Denmark', 'France', 'Germany', 'Indonesia', 'Iran', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Mexico', 'Norway', 'Pakistan', 'Poland', 'Singapore', 'Spain', 'Switzerland', 'Turkey', 'USA']

In [114]:
len(fun)

25

In [121]:
data = pd.read_csv('./countryes_ubication.csv', engine='python', skipfooter=3)
data.head(15)

   country   latitude   longitude                  name
0       AD  42.546245    1.601554               Andorra
1       AE  23.424076   53.847818  United Arab Emirates
2       AF  33.939110   67.709953           Afghanistan
3       AG  17.060816  -61.796428   Antigua and Barbuda
4       AI  18.220554  -63.068615              Anguilla
5       AL  41.153332   20.168331               Albania
6       AM  40.069099   45.038189               Armenia
7       AN  12.226079  -69.060087  Netherlands Antilles
8       AO -11.202692   17.873887                Angola
9       AQ -75.250973   -0.071389            Antarctica
10      AR -38.416097  -63.616672             Argentina
11      AS -14.270972 -170.132217        American Samoa
12      AT  47.516231   14.550072               Austria
13      AU -25.274398  133.775136             Australia
14      AW  12.521110  -69.968338                 Aruba